.form {
  input, textarea{
    padding: $spacer;
    border: 1px solid #cccccc;
  }
}

.form-group {
  & {
    position: relative;
    margin-bottom: $spacer-L;
  }
  .ico-form {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 0.75em 0px 0px 0.75em;
    content: "";
  }

  .ico-form + input{
    padding-left: 50px;
  }
  i {
    font-size: 3em;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    padding: 10px;
  }

}