{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"/>
{% endblock %}
{% block content %}
    <div class="resume">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/change_avatar/">
                                <img src="{{ worker.avatar_url }}"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="/upload_avatar">
                                {{ avatarForm }}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-8">
                            {{ worker.user.username }}
                        </div>
                        <div class="col-md-4">
                            Level {{ worker.level }} <h6>{{ worker.experience }} exp.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Achievements
                        </div>
                    </div>
                    <div class="row">
                        {% for a in worker.achievements_set %}
                            <img src="{{ a.image.url }}" alt="{{ a.name }}"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}