{% extends 'base.html' %}
{% block title %}Workshops{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 workshop-item">
            <div class="col-md-10">
                <h4>{{ workshop.name }}</h4>
            </div>
            <div class="col-md-2">
                <h5>{{ workshop.commiter }}</h5>
            </div>
            <div class="col-md-12">
                <h4>Description</h4>
                <h5>{{ workshop.description }}</h5>
            </div>
            <div class="col-md-12">
                <h4>Prerequisites</h4>
                <h5>{{ workshop.prerequisites }}</h5>
            </div>
            <div class="col-md-12">
                <h4>Objectives</h4>
                <h5>{{ workshop.objectives }}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        Questions
    </div>
    {% for question in workshop.questions.all %}
        <div class="row">
            <div class="col-md-12">
                    {{ workshop.name }}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <a href="/workshops/{{ workshop.id }}/add_question" class="btn btn-block btn-success">Add question</a>
        </div>
    </div>
{% endblock %}