{% extends 'base.html' %}
{% block title %}Question detail{% endblock %}
{% block content %}
    <div class="card">
        <h1 class="title">{{ question.description }}</h1>

        <div class="card__info">
            <ul>
                {% for o in question.options.all %}
                    <li>{{ o.description }}</li>
                {% endfor %}
            </ul>
            {% if answer %}
                <h2>Correct option</h2>
                {{ question.correct_option.description }}
                <h1>Your option</h1>
                {{ answer.answer.description }}
                {% if answer.answer.description == question.correct_option.description %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            {% else %}
                {% if workshop.commiter.user.id != request.user.id and is_subscriber %}
                    Submit your option:
                    <form method="post" action="{% url 'question_detail' workshop.id question.id %}">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit option" class="btn btn-block btn-success"/>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}