{% extends 'base.html' %}
{% block title %}Workshops{% endblock %}
{% block content %}
    <div class="list">
        {% for workshop in workshops %}
            <div class="card">
                <h1 class="title">{{ workshop.name }}</h1>

                <div class="card__info">
                    <h5>{{ workshop.commiter }}</h5>
                    <h5>{{ workshop.description }}</h5>
                    <a href="{% url 'workshop_detail' workshop.id %}" class="btn btn-block btn-info">View details</a>
                    {% if workshop.commiter.user != request.user %}
                        {% if workshop in worker.subscriber.all %}
                            <a href="{% url 'workshop_unsubscribe' workshop.id %}" class="btn btn-block btn-warning">Unsubscribe</a>
                        {% else %}
                            <a href="{% url 'workshop_subscribe' workshop.id %}" class="btn btn-block btn-success">Subscribe</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}