{% extends 'base.html' %}
{% block title %}Workshops{% endblock %}
{% block content %}
    <div class="list">
        <div class="card">
            <h1 class="title">{{ workshop.name }}</h1>

            <h3>by {{ workshop.commiter }}</h3>

            <h1 class="title">Description</h1>

            <div class="card__info">
                {{ workshop.description }}
            </div>
            <h1 class="title">Prerequisites</h1>

            <div class="card__info">
                {{ workshop.prerequisites }}
            </div>
            <h1 class="title">Objectives</h1>

            <div class="card__info">
                {{ workshop.objectives }}
            </div>

        </div>
        <div class="card">
            <h1 class="title">Questions</h1>

            <div class="card__info">
                {% if not workshop.questions.all %}
                    There are no questions
                {% endif %}
                {% for question in workshop.questions.all %}
                    <a href="{% url 'question_detail' workshop.id question.id %}">
                        {{ question.description }}
                    </a>
                {% endfor %}
                {% if workshop.commiter.user == request.user %}
                    <a href="{% url 'question_new' workshop.id %}" class="btn btn-block btn-success">Add
                        question</a>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <h1 class="title">Comments</h1>

            <div class="card__info">
                {% for comment in workshop.comments.all %}
                    {{ comment.message }}
                    {{ comment.worker }}
                    {% if not forloop.last %}
                        <hr/>
                    {% endif %}
                {% endfor %}
                <form method="post" action="{% url 'workshop_detail' workshop.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="ico-form"></label>
                        {{ form.message }}
                    </div>
                    <br/>
                    <input type="submit" value="Add comment" class="btn btn-block btn-success"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}