{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"/>
{% endblock %}
{% block content %}
    <div class="list">
        <div class="card">

            <h1 class="title">Profile</h1>
            <a href="{% url 'change_avatar' %}">
                <img src="{{ worker.avatar_url }}"/>
            </a>

            <form method="post" action="{% url 'change_avatar' %}">
                {{ avatarForm }}
            </form>
            {{ worker.user.username }}
            Level {{ worker.level }} <h6>{{ worker.experience }} exp.</h6>
        </div>
        <div class="card">
            <h1 class="title">Achievements</h1>
            {% for a in worker.achievements_set %}
                <img src="{{ a.image.url }}" alt="{{ a.name }}"/>
            {% endfor %}
        </div>
        <div class="card">
            <h1 class="title">Your workshops</h1>
            {% for workshop in commited_workshops %}
                <a href="{% url 'workshop_detail' workshop.id %}">
                    {{ workshop.name }}
                    {{ workshop.questions.count }} questions
                </a>
                <a href="{% url 'workshop_delete' workshop.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            {% endfor %}
            <a href="{% url 'workshop_new' %}" class="btn btn-block btn-success">Create Workshop</a>
        </div>
        <div class="card">
            <h1 class="title">Workshops subscribed</h1>
            <dl class="card__info">
                {% for workshop in worker.subscriber.all %}
                    <a href="{% url 'workshop_detail' workshop.id %}">
                        <dt>{{ workshop.name }}</dt>
                        <dd>{{ workshop.commiter.user.username }}</dd>
                    </a>
                {% endfor %}
            </dl>
        </div>
{% endblock %}