{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="list">
            <div class="card">
                <div class="title">Suggestion</div>
                <div class="card__info">
                    <form method="post" action="{% url 'suggestion_add' %}">
                        {% csrf_token %}
                        {% for field in suggestion_form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" value="New suggestion"/>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="list">
        {% for sug in suggestions %}
            <div class="card">
                <div class="card__info">
                    <h2>{{ sug.suggester.user.username }}</h2>
                    {{ sug.message }}
                </div>
                {% if request.user.id == sug.suggester.user.id %}
                    <a href="{% url 'suggestion_delete' sug.id %}">
                        Delete
                    </a>
                {% endif %}
                <h3>Status: {{ sug.get_status_display }}</h3>
                {% for comment in sug.get_comments %}
                    <div class="card__info">
                        <h2>{{ comment.poster.user.id }}</h2>
                        {{ comment.message }}
                    </div>
                {% endfor %}
                <div class="card__info">
                    <form method="post" action="{% url 'comment_add' sug.id %}">
                        {% csrf_token %}
                        {% for field in comment_form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" value="New comment"/>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}